*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  // background-color: cyan;
  background-image: url("/assets/images/three-lilys--bg.jpg");
  min-height: 100%;
  overflow-x: hidden;
  // force scrollbar to prevent jump
  overflow-y: scroll;

  padding: 2.5vw;
  display: grid;

  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top right;
  background-attachment: fixed;
  
  background-position: 100%;
  @supports(left: unquote('max(0px)')) {
    $maxPos: unquote('max(100%,calc(100% + (440px - 40vw)))');
    background-position: clamp(#{$maxPos}, 100vw, 100%);
  }
}

main {
  // background-color: magenta;
  display: grid;
  grid-template-columns: 50% 1fr;
  place-items: center left;
  grid-row-gap: 0px;
  padding: 0 2vw;

  > * {
    grid-column: 1;
  }
}

section {
  // background-color: yellow;
  justify-self: center;
  position: relative;
  width: 80%;
  min-width: 60%;
  padding: calc(36px + 1.5rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  &.contact-page {
    align-items: stretch;
    // padding: 0px 0px $tornEdgePadding 0px;
    padding: $tornEdgePadding 0 0 0;
  }
}

.contact-page {
  .social-link--icon--wrap {
    // position: relative;
    // display: inline-block;
    --size: 6rem;
    align-self: center;
    margin-right: 0;
  }

  .social-links-list {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-bottom: $tornEdgePadding;

    .social-link--icon--wrap {
      --size: 2.5rem;
    }
  }

  .social-link--li {
    margin-top: 0;
  }
}


#torn-edges {
  // background-color: red;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:-1;
  filter:
    drop-shadow(0 1rem 2rem rgba(black,.5))
    drop-shadow(0 .5rem .2rem rgba(black,.25))
}




.social-links-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.social-link--li {
  + li {
    margin-top: .5em;
  }

  a {
    display: flex;
    align-items: center;
  }
}

.social-link--icon--wrap {
  display: inline-flex;
  --size: 3em;
  --nth: 0;
  width: var(--size);
  height: var(--size);
  margin-right: .75em;
  filter:
    drop-shadow(0 .1em .05em rgba(black,.2))
    drop-shadow(0 .1em .2em rgba(black,.2));
  image-rendering: crisp-edges;
  
  .social-link--icon {
    flex: 1;
    background: url("/assets/images/social-media-icons--sprite.jpg") center calc(#{var(--size)} * #{var(--nth)} * -1) no-repeat;
    background-size: var(--size);
    mask-image: url("/assets/images/social-media-icons--alpha-mask.png");
    mask-size: 100% 100%;
    
    &--twitter {
      --nth: 2;
    }

    &--facebook {
      --nth: 3;
    }

    &--etsy {
      --nth: 1;
    }

    &--contact {
      --nth: 4;
    }
  }
}

.social-link {
  filter: drop-shadow(0 0 1rem white);
  text-shadow:
    0px -1px 3px rgba(white,.5),
    0px -2px 6px  rgba(white,1),
    0px -2px 10px  rgba(white,1)
}




@media (max-width: $smallScreen) {
  body {
    background-color: black;
    $size: calc(1600px - 150vw);
    background-size: $size auto;
    $bgsize: calc(#{$size} * .45);
    background-image:
      linear-gradient(to bottom, rgba(black,0) $bgsize, rgba(black,1) calc(#{$bgsize} * 1.1)),
      url('/assets/images/three-lilys--bg.jpg');

    @supports(left: unquote('max(0px)')) {
      $maxPos: unquote('max(100%,calc(100% + (850px - 145vw)))');
      background-position: top center, $maxPos -20vw;
    }
  }

  main {
    grid-template-columns: 100%;
    place-items: start center;
    padding-top: calc(800px - 80vw);
  }

  section {
    width: 100%;
  }
}