---
layout: layouts/default.njk
permalink: /contact/
pageTitle: Three Lilys - Contact
---
<section class="contact-page">
  {% include "tornedges.njk" %}

  <span class="social-link--icon--wrap" role="img" aria-hidden="true" focusable="false">
    <span class="social-link--icon social-link--icon--contact"></span>
  </span>

  <h1>Contact us</h1>

  <div id="wufoo-ztae2o70xdxzyg">
    Fill out my <a href="https://threelilys.wufoo.com/forms/ztae2o70xdxzyg">online form</a>.
  </div>

  <script type="text/javascript">
  var ztae2o70xdxzyg;

  (function(d, t) {
    var s = d.createElement(t),
        options = {
          'userName': 'threelilys',
          'formHash': 'ztae2o70xdxzyg',
          'autoResize': true,
          'height': '500',
          'async': true,
          'host': 'wufoo.com',
          'header': 'show',
          'ssl': true
        };

    s.src = ('https:' == d.location.protocol ? 'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { ztae2o70xdxzyg = new WufooForm(); ztae2o70xdxzyg.initialize(options); ztae2o70xdxzyg.display(); }
      catch (e) { }
    };

    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;

    par.insertBefore(s, scr);
  })

  (document, 'script');
  </script>

  <ul class="social-links-list">
    <li class="social-link--li">
      <a href="https://www.etsy.com/shop/ThreeLilysBoutique" title="Visit Three Lilys on Etsy">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true" focusable="false">
          <span class="social-link--icon social-link--icon--etsy"></span>
        </span>
        <span class="screen-reader-only">Etsy</span>
      </a>
    </li>
    <li class="social-link--li">
      <a href="https://www.facebook.com/threelilys" target="_blank" title="Visit Three Lilys on Facebook">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true" focusable="false">
          <span class="social-link--icon social-link--icon--facebook"></span>
        </span>
        <span class="screen-reader-only">Facebook</span>
      </a>
    </li>
    <li class="social-link--li">
      <a href="https://www.instagram.com/threelilys" target="_blank" title="Visit Three Lilys on Instagram">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true" focusable="false">
          <span class="social-link--icon social-link--icon--instagram"></span>
        </span>
        <span class="screen-reader-only">Instagram</span>
      </a>
    </li>
    {# <li class="social-link--li">
      <a href="" target="_blank" title="Visit Three Lilys on Twitter">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true" focusable="false">
          <span class="social-link--icon social-link--icon--twitter"></span>
        </span>
        <span class="screen-reader-only">Twitter</span>
      </a>
    </li> #}
  </ul>
</section>