---
layout: layouts/default.njk
pageTitle: Three Lilys
---
<section>
  {% include "tornedges.njk" %}

  <h2>Bespoke Gifts & Décor</h2>

  <h3>Connect with us online</h3>

  <ul class="social-links-list">
    <li class="social-link--li">
      <a href="" title="Visit Three Lilys on Etsy">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true">
          <span class="social-link--icon social-link--icon--etsy" role="img" aria-hidden="true"></span>
        </span>
        <span class="social-link">Etsy</span>
      </a>
    </li>
    <li class="social-link--li">
      <a href="" target="_blank" title="Visit Three Lilys on Facebook">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true">
          <span class="social-link--icon social-link--icon--facebook" role="img" aria-hidden="true"></span>
        </span>
        <span class="social-link">Facebook</span>
      </a>
    </li>
    <li class="social-link--li">
      <a href="" target="_blank" title="Visit Three Lilys on Instagram">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true">
          <span class="social-link--icon social-link--icon--instagram" role="img" aria-hidden="true"></span>
        </span>
        <span class="social-link">Instagram</span>
      </a>
    </li>
    {# <li class="social-link--li">
      <a href="" target="_blank" title="Visit Three Lilys on Twitter">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true">
          <span class="social-link--icon social-link--icon--twitter" role="img" aria-hidden="true"></span>
        </span>
        <span class="social-link">Twitter</span>
      </a>
    </li> #}
    <li class="social-link--li">
      <a href="" title="Contact us">
        <span class="social-link--icon--wrap" role="img" aria-hidden="true">
          <span class="social-link--icon social-link--icon--contact"></span>
        </span>
        <span class="social-link">Contact</span>
      </a>
    </li>
  </ul>
</section>